body {

  
   
   font-family: 'Quicksand', sans-serif;
   margin-top: 30px;
  text-align: center ;
  list-style: none;         
  padding: 0;              
  margin: 50 auto;  
   left: 50%;
    background-image: url(./images/myimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



footer {
  background-color:rgb(230, 229, 235) ;
  color: #040404;
  padding: 30px 20px;
  text-align: center ;
  font-family: 'Nunito', sans-serif
}

.logo img{
  
  position: absolute;
  top: 20px;
  left: 550px;
  height: 150px;
  width: 200px;
}

.nav-menu {
  margin-top: 200px;
   display: flex;
  text-align: center ;
  list-style: none;         
  padding: 5px;              
  margin: 50 auto;  
   left: 50%;
   justify-content: center;
   gap: 30px;
}

#number {
  background-color: azure;
}

